<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/list.css">
    <script src="../node_modules/angular/angular.min.js"></script>
</head>
<body ng-app="MyList" ng-controller="listCtrl">
<!--<div id="box" ng-click="itemClick($event,pageCount)">-->
    <!--<h1 ng-repeat="x in records[pageCount]" data-id="{{x}}">{{x}}</h1>-->
    <!--<button ng-click="test()">下一页</button>-->
    <!--</div>-->
<div ng-view></div>
<!--<script src="config/list.data.js"></script>-->
<script src="js/list.ctrl.js"></script>
<script type="text/javascript">
</script>
</body>
</html>

